*                               @lukaszjecek
/.github/                       @lukaszjecek
/README.md                      @lukaszjecek
/CONTRIBUTING.md                @lukaszjecek
/infra/                         @lukaszjecek
/config-repo/                   @lukaszjecek
/services/                      @lukaszjecek