POSTGRES_DB=YOUR_DATABASE_NAME_HERE
POSTGRES_PASSWORD=YOUR_PASSWORD_HERE
POSTGRES_USER=YOUR_USERNAME_HERE
JWT_SECRET=YOUR_JWT_SECRET_HERE
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY_HERE
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET_HERE
STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY_HERE