@import "tailwindcss";

@theme {
  --color-brand-main: #1A1A1A;
  --color-brand-primary: #42211D;
  --color-brand-primary-hover: #5c2e29;
  --color-brand-muted: #7A7A7A;
  --color-brand-accent: #DACDCA;
  --color-brand-bg: #F7F7F7;
}

body {
  background-color: #F9F8F7;
}

.custom-popup .leaflet-popup-content-wrapper {
  padding: 0 !important;
  border-radius: 0.75rem !important;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
  border: 1px solid #DACDCA !important;
  background: #FFFFFF !important;
}

.custom-popup .leaflet-popup-content {
  margin: 0 !important;
  width: 12rem !important;
  line-height: normal !important;
}

.custom-popup .leaflet-popup-tip {
  background: #FFFFFF !important;
  box-shadow: none !important;
  border: 1px solid #DACDCA !important;
}

.custom-popup .leaflet-popup-close-button {
  color: #7A7A7A !important;
  padding: 6px 12px 0 0 !important;
  font-size: 16px !important;
  z-index: 10;
}

